

<div class="logo">
<h1 class="color">Cocktails list</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
    <div>
      <%= link_to "#{cocktail.name}",cocktail_path(cocktail),  class: "btn btn-success m-3"%>
      <% if cocktail.photo.attached? %>
        <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
      <% end %>
</ul>
  <div >
    <%= link_to 'Add new cocktail', new_cocktail_path%>
  </div>

</div>


